# Core functionality - changes here should be rare!
/src/app.py                   @Million-dayannnn
/src/backend/database.py      @Million-dayannnn
/src/backend/routers/auth.py  @Million-dayannnn

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Million-dayannnn
